@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body {
  /* On utilise du CSS standard ici, c'est plus stable que @apply pour le global en v4 */
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  
  /* Bloque l'effet élastique blanc */
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}

/* Utilitaires pour cacher la scrollbar */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}